.banner {
  margin-top: -10vh;
  height: 92vh;
  margin-bottom: -80px;
  color: white;
  object-fit: contain;
}
.banner__contents {
  margin-left: 30px;
  padding-top: 300px;
  /* height: 190px; */
  /* position:absolute;
  top: 50%;
  transform: translate(); */
}
.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner__description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}
.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 1rem 3rem;
  margin-right: 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.play {
  color: black;
  background-color: #fff;
}
.banner__button:hover {
  color: #000;
  background-color: #c3c3c3;
  transition: all0.2s;
}
.banner__fadeBottom {
  height:30vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    black
  );
}
.banner__fadeTop {
  height: 30vh;
  background-image: linear-gradient(
    0deg, /*This ensures the gradient goes from top to bottom*/
    transparent,
    rgba(135, 151, 187, 0.407),
    rgb(35, 34, 34)
  );
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; /* This ensures it stays behind the header */
}


