.header_outer_container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10vh; /* Adjust height as necessary */
    z-index: 1000; /* Ensure it's above the content */
    background-color: transparent; /* Initially transparent */
    transition: background-color 1.5s ; /* Smooth transition */
  }
  
  /* Black background when scrolled */
  .nav__black {
    background-color: rgb(20, 20, 20);
  }
  
  /* Header container styling */
  .header_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Left and right sections */
/* Left Section */
.header_left ul {
    display: flex;
    justify-content: flex-start; /* Align items at the start */
    gap: 20px; /* Add space between list items */
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  /* Right Section */
  .header_right ul {
    display: flex;
    justify-content: flex-end; /* Align items to the end */
    gap: 7px; /* Add space between list items */
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  /* General styling for list items */
  .header_left ul li,
  .header_right ul li {
    padding: 0 10px; /* Add some padding around list items */
    cursor: pointer;  /* Cursor changes to pointer on hover */
  }
  
  