/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
 /* .App{
  background-color: black;
 } */

 .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
}
